/* General */
html {
  background-color: #1c1c1c !important;
}

* {
  color: white;
}

main,
aside {
  padding-bottom: 18.5rem;
}

main {
  background-color: #1c1c1c !important;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

/* ---------- Main ----------- */
.previousSong,
.nextSong {
  background-color: #131313;
  padding: 0.6rem;
  border-radius: 50%;
  width: 2.6rem;
  text-align: center;
  margin: 0 10px;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.previousSong:active,
.nextSong:active {
  transform: scale(0.9);
}

.userImg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: white;
  color: black;
}

.playlistCardImg {
  box-shadow: 0px 10px 15px rgba(1, 1, 1, 0.2),
    0px 20px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.playlistCardImg:active {
  transform: scale(0.95);
}

.albumCardImg {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2),
    0px 20px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.albumCardImg:active {
  transform: scale(0.9);
}

/* Dropdown */
.dropdown-item:hover {
  background-color: black;
}

/* Canzone in Primo Piano */
.mainSong {
  background: linear-gradient(to bottom left, #272727, #000000);
}

/* ----------Side Bar SX ----------*/
/* Icone */
.crea {
  background-color: #b3b3b3;
}

.favorite {
  background: linear-gradient(135deg, #4632f1, #bff0d7);
  color: #828282;
}

.iTuoiEpisodi {
  background-color: #004537;
}

.iTuoiEpisodi .bi-bookmark-fill {
  color: #149643 !important;
}

/* ----- Side Bar DX ----- */
/* Amici */
.bi-person-add:hover {
  background-color: #149643;
}

.bi-x-lg:hover {
  background-color: red;
}

.userTime {
  position: absolute;
  top: 0;
  right: 10px;
}

/* Playlist */
.playlist p {
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.playlist p:hover {
  background-color: rgb(41, 41, 41);
  transform: scale(1.1) translateX(20px);
}
