/* General */
html {
  background-color: #1c1c1c !important;
}

* {
  color: white;
}

main,
aside {
  padding-bottom: 18.5rem;
}

main {
  background-color: #1c1c1c !important;
}

i {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

/* ----- Main ------ */
.userImg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: white;
  color: black;
}

.albumCardImg {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2),
    0px 20px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.albumCardImg:active {
  transform: scale(0.9);
}

/* Dropdown */
.dropdown-item:hover {
  background-color: black;
}

/* -----Side Bar SX -----*/
/* Icone */
.crea {
  background-color: #b3b3b3;
}

.favorite {
  background: linear-gradient(135deg, #4632f1, #bff0d7);
  color: #828282;
}

.iTuoiEpisodi {
  background-color: #004537;
}

.iTuoiEpisodi .bi-bookmark-fill {
  color: #149643 !important;
}

/* ----- Side Bar DX ----- */
/* Amici */
.userTime {
  position: absolute;
  top: 0;
  right: 10px;
}

/* Playlist */
.playlist p {
  cursor: pointer;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.playlist p:hover {
  background-color: rgb(41, 41, 41);
  transform: scale(1.1) translateX(20px);
}
