@import "scss/functions";
@import "scss/variables";
@import "scss/mixins";
@import "circular.font.css";

$spotifyGreen: #1db954;
$spotifyBlack: #191414;
$white: #ffffff;
$lightGrey: #b3b3b3;
$darkGrey: #535353;
$bgGrey: #121212;
$bgSecondary: #212121;

$new-theme-colors: (
  "primary": $spotifyGreen,
  "secondary": $spotifyBlack,
  "success": $lightGrey,
  "danger": $darkGrey,
  "warning": $bgGrey,
  "info": $bgSecondary,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

.circular {
  font-family: "Circular", sans-serif;
  font-weight: 500;
}

@import "scss/bootstrap";
